@charset "UTF-8";

/* reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	/* color */
	--color__orange: #ee4d2d;
	--color__white: #fff;
	--color_gray: rgba(0,0,0,.26);
	/* boder */
	--boder: 5px;
}


html {
    scroll-behavior: smooth;

}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
}

/* common */
.clear {
    clear: both;
}

img {
    max-width: 100%;
    width: 100%;
}

/* --header-- */
header {
	display: flex;
	height: 84px;
	justify-content: space-between;
	align-items: center;
	padding: 0 90px;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	width: 250px;
	height: 90px;
	align-items: center;
}

.logo__link {
	display: flex;
	align-items: center;
}


.logo__img {
	height: 80px;
	width: 89px;
}

.logo__txt {
	margin-left: 20px; 
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	color: green;
}

.header__help {
	color: var(--color__orange);
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
}

/* --login-- */
section {
	background-image: "/resources/img/login/sunlight-trees-forest-garden-grass-park.jpg";
	display: flex;
	height: 650px;
	background: var(--color_gray);
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.login {
	height: 500px;
	width: 450px;
	flex-direction: column;
	display: flex;
	background: var(--color__white);
	align-items: center;
	margin-right: 220px;
	padding: 0 40px;
	justify-content: center;
}

.login__title {
	font-size: 28px;
	font-weight: 400;
}

.login__email {
	padding: 0 18px;
	boder: 1px solid var(--color_gray);
	height: 43px;
	width: 100%;
	margin-top: 55px; 
	border-radius: var(--boder); 
}

.login__password {
	padding: 0 18px;
	boder: 1px solid var(--color_gray);
	height: 43px;
	margin-top: 15px; 
	width: 100%;
	border-radius: var(--boder); 
}

.login__btn {
	border: none;
	background-color: var(--color__orange);
	height: 45px;
	margin-top: 35px; 
	width: 100%;
	border-radius: var(--boder); 
	cursor: pointer;
	color: var(--color__white);
	font-size: 15px;
}

.login__help {
	margin-top: 8px; 
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.login__change-pass {
	font-size: 13px;
	color: blue;
	text-decoration: none;
}

.login__home {
	font-size: 13px;
	color: blue;
	text-decoration: none;
}

.login__crossbar {
	margin-top: 15px; 
	color: var(--color_gray);
	
}

.login__register {
	margin-top: 30px; 
	display: flex;	
}

.login__txt {
	font-weight: 400;
	font-size: 16px;
	color: var(--color_gray);
}

.login__link {
	font-weight: 400;
	font-size: 16px;
	margin-left: 4px;
	text-decoration: none;
	color: var(--color__orange);
}

footer {
	height: 100px;
	background: gray;
}

